idea/
Homestead.yaml
Homestead.json

vendor/
node_modules/

.DS_Store

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
bootstrap/cache/
storage/
public/uploads
public/storage
public/qrcodes
.env.*.php
.env.php
.env


.idea/workspace.xml

.DS_Store
