/* Global Setting */
body{margin:0; padding:0;text-align:left; font-size:12px; font-family:'Microsoft YaHei',Arial; background:#FFF;}
table{border-collapse:collapse;}
td,th{padding:0;}
ul,li,dd,dl,dt{margin:0; padding:0; list-style:none; word-break:break-all;}
img{border:0;}
p{margin:0; padding:0; word-break:break-all;}
h1,h2,h3,h4{margin:0;padding:0; font-weight:normal; font-size:14px;}
em{ font-size:12px; font-style:normal;}
hr{background:none;border:none;border-bottom:1px solid #CCC;#border-bottom:0;}
.clear {clear:both;height:0;font-size:1px;line-height: 0px;}
a{text-decoration:none; border:0; outline:none; blr:expression(this.onFocus=this.blur());}
select,input,textarea{font-family:inherit; outline:none;}

.wrapper{ width:1000px; margin:0 auto; border:none; padding:0;}
.innerDiv{ width:100%; height:100%; position:relative;}
.abs{ position:absolute;}

.bg{ background:url(../images/bg.jpg) 0 0 no-repeat; width:1060px; height:704px; margin:0 auto;}

.page{ position:absolute; left:0; top:0;}
.page1Bg{ background:url(../images/page8Bg_bak.png) 0 0 no-repeat; width:1060px; height:704px;}
.nav2{ position:absolute; left:78px; top:604px;}
.nav ul{ width:910px; height:62px;}
.nav ul li{ float:left; height:62px; float:left;}
.nav ul li a,.nav2 ul li a img{ display:block; width:100%; height:100%;}
.nav ul li a{ background:url(../images/nav.png) 0 0 no-repeat;}
.nav2 ul li.navBtn1{ width:123px; padding-right:33px;}
.nav2 ul li.navBtn2{ width:124px; padding-right:32px;}
.nav2 ul li.navBtn3{ width:135px; padding-right:24px;}
.nav2 ul li.navBtn4{ width:123px; padding-right:33px;}
.nav2 ul li.navBtn5{ width:136px; padding-right:22px;}
.nav2 ul li.navBtn6{ width:124px; padding-right:0;}
.nav ul li.navBtn1 a{ background-position:0 0;}
.nav ul li.navBtn2 a{ background-position:-156px 0;}
.nav ul li.navBtn3 a{ background-position:-311px 0;}
.nav ul li.navBtn4 a{ background-position:-467px 0;}
.nav ul li.navBtn5 a{ background-position:-622px 0;}
.nav ul li.navBtn6 a{ background-position:-778px 0;}
.nav ul li.navBtn1 a.on,.nav ul li.navBtn1 a:hover{ background-position:0 -62px;}
.nav ul li.navBtn2 a.on,.nav ul li.navBtn2 a:hover{ background-position:-156px -62px;}
.nav ul li.navBtn3 a.on,.nav ul li.navBtn3 a:hover{ background-position:-311px -62px;}
.nav ul li.navBtn4 a.on,.nav ul li.navBtn4 a:hover{ background-position:-467px -62px;}
.nav ul li.navBtn5 a.on,.nav ul li.navBtn5 a:hover{ background-position:-622px -62px;}
.nav ul li.navBtn6 a.on,.nav ul li.navBtn6 a:hover{ background-position:-778px -62px;}

.nav1{ position:absolute; left:112px; top:604px;}
.nav1 ul li.navBtn1{ width:123px; padding-right:52px;}
.nav1 ul li.navBtn2{ display:none;}
.nav1 ul li.navBtn3{ width:135px; padding-right:51px;}
.nav1 ul li.navBtn4{ width:123px; padding-right:52px;}
.nav1 ul li.navBtn5{ width:136px; padding-right:51px;}
.nav1 ul li.navBtn6{ width:124px; padding-right:0;}

.page1Qc{ left:476px; top:439px;}
.page1Btn{ left:454px; top:549px;}

.foot{ width:1060px; height:80px; background:#e1e1e1; margin:20px auto 0 auto;}
.bottomImg1{ float:left; margin:10px 0 0 10px; border:1px solid #d5d5d5;}
.footTxt1{ float:left; margin:22px 0 0 10px; padding-right:18px; border-right:1px solid #d5d5d5; color:#525656; font-size:12px; line-height:100%;}
.footTxt1 a{ display:inline-block; margin-top:6px;}
.footTxt2{ float:left; margin:22px 0 0 16px; color:#525656; font-size:12px; line-height:100%;}
.footTxt2 a{ display:inline-block; margin-top:6px;}
.icp{ float:right; margin:48px 18px 0 0; color:#525656; font-size:12px; line-height:100%;}
.icp a{ color:#525656; font-size:12px; line-height:100%;}


.page2Bg{ background:url(../images/page2Bg.jpg) 0 0 no-repeat; width:1060px; height:704px;}
.regBtn{ left:498px; top:359px;}
.loginTxt{ background:none; border:none; width:252px; height:36px; padding:0 10px; font-size:14px; color:#000; line-height:36px;}
.loginTxt1{ left:192px; top:283px;}
.loginTxt2{ left:192px; top:355px;}
.loginBtn{ left:458px; top:425px;}

.loadingBg,.noteBg{ width:100%; height:660px; left:0; top:44px; background:#000; opacity:0.8;}
.loadingImg{ left:50%; top:344px; margin-left:-30px; display:block;}

.page3Bg{ background:url(../images/page3Bg.png) 0 0 no-repeat; width:1060px; height:704px;}
.uploadImg{ display:block; width:382px; height:255px; opacity:0; position:absolute; left:108px; top:226px; cursor:pointer;}
.uploadImged{ width:145px; height:75px; left:590px; top:494px;}
.uploadBtn2{ left:770px; top:494px;}
.uploadTxt{ background:none; border:none; width:190px; height:28px; padding:0 10px; font-size:14px; color:#000; line-height:28px;}
.uploadTxt1{ left:733px; top:170px;}
.uploadTxt2{ left:733px; top:212px;}
.uploadTxt3{ left:733px; top:336px;}
.uploadSel{ background:none; border:none; height:28px; line-height:28px; padding:0; font-size:14px; color:#000; appearance:none; -moz-appearance:none; -webkit-appearance:none; -ms-appearance:none; position:absolute; top:254px;}
.uploadSel1{ width:77px; left:738px;}
.uploadSel2{ width:57px; left:819px;}
.uploadSel3{ width:57px; left:880px;}
.genderSel{ opacity:0;}
.genderSelon{ opacity:1;}
.genderSel1{ position:absolute; left:774px; top:290px;}
.genderSel2{ position:absolute; left:873px; top:290px;}
.uploadTxtarea{ background:none; border:none; resize:none; width:190px; height:64px; padding:0 10px; font-size:14px; color:#000; line-height:22px; position:absolute; left:733px; top:378px;}
.agreeLice1{ left:571px; top:448px; opacity:0;}
.agreeLice2{ left:571px; top:465px; opacity:0;}
.agreeLiceOn{ opacity:1;}
.uploadBtn3{ left:672px; top:449px;}
.uploadBtn4{ left:856px; top:449px;}
.uploadImgBlock{ width:380px; height:253px; overflow:hidden; position:absolute; left:108px; top:226px; background:#FFF;}
.uploadImgCover{ position:absolute; left:0; top:0;}
.uploadPop1{ background:url(../images/page3Img1.png) 0 0 no-repeat; width:484px; height:504px; position:absolute; left:50%; top:87px; margin-left:-242px;}
.loadingTxt{ width:100%; position:absolute; left:0; top:340px; text-align:center; color:#e33755; font-size:24px;}
.loadingTxt span{ font-size:30px; font-weight:bold;}
.loadingBar{ background:url(../images/page3Img3.png) 0 0 no-repeat; width:405px; height:40px; -webkit-transform-origin:0 0 0; -moz-transform-origin:0 0 0; -ms-transform-origin:0 0 0; transform-origin:0 0 0; position:absolute; left:58px; top:395px; -webkit-transform:scale(0.9,0.75); -moz-transform:scale(0.9,0.75); -ms-transform:scale(0.9,0.75); transform:scale(0.9,0.75);}
.uploadPop2{ background:url(../images/page2Img1.png) 0 0 no-repeat; width:484px; height:504px; position:absolute; left:50%; top:87px; margin-left:-242px;}
.uploadBtn5{ left:167px; top:360px;}

.rulePop,.licPop{ position:absolute; width:852px; height:600px; left:50%; top:74px; margin-left:-426px; background:#FFF;}
.ruleTitle{ width:790px; text-align:center; padding:55px 0 15px 0; border-bottom:1px dotted #555555; margin:0 auto 15px auto;}
.ruleBlock{ width:790px; height:330px; margin:0 auto;}
.ruleBottom{ width:790px; text-align:center; padding:0 0 15px 0; border-bottom:1px dotted #555555;  margin:15px auto 0 auto;}

#scrollbar{ width:790px;}
#scrollbar .viewport{ height:330px; overflow:hidden; position:relative; width:760px;}
#scrollbar .overview{ left:0; list-style:none outside none; margin:0; padding:0; position:absolute; top:0;}
#scrollbar .scrollbar{ background:none; float:right; position:relative; width:25px;}
#scrollbar .track{ background:#231916; height:100%; position:relative; width:3px;}
#scrollbar .thumb{ background:url(../images/scroll1.png) top center no-repeat; cursor: pointer; left:-11px; position:absolute; top:0; width:25px;}
#scrollbar .end{ background:url(../images/scroll2.png) top center no-repeat; width:25px; height:27px; position:absolute; left:0; bottom:-17px;}

#scrollbar2{ width:790px;}
#scrollbar2 .viewport{ height:330px; overflow:hidden; position:relative; width:760px;}
#scrollbar2 .overview{ left:0; list-style:none outside none; margin:0; padding:0; position:absolute; top:0;}
#scrollbar2 .scrollbar{ background:none; float:right; position:relative; width:25px;}
#scrollbar2 .track{ background:#231916; height:100%; position:relative; width:3px;}
#scrollbar2 .thumb{ background:url(../images/scroll1.png) top center no-repeat; cursor: pointer; left:-11px; position:absolute; top:0; width:25px;}
#scrollbar2 .end{ background:url(../images/scroll2.png) top center no-repeat; width:25px; height:27px; position:absolute; left:0; bottom:-17px;}

.page4Bg{ background:url(../images/page4Bg.png) 0 0 no-repeat; width:1060px; height:704px;}
.pointSel{ position:absolute; top:282px; opacity:0;}
.pointSel1{ left:603px;}
.pointSel2{ left:695px;}
.pointSel3{ left:776px;}
.pointSel4{ left:850px;}
.pointSel5{ left:932px;}
.pointSelon{ opacity:1;}
.successImg{ width:216px; height:143px; position:absolute; left:91px; top:247px; overflow:hidden;}
.successImg img{ width:100%; height:100%;}
.page4Img1{ left:0; top:0;}
.authorName{ font-size:14px; font-weight:bolder; color:#000; position:absolute; left:330px; top:291px; line-height:100%;}
.imageTitle{ font-size:14px; font-weight:bolder; color:#000; position:absolute; left:330px; top:371px; line-height:100%;}
.imageDesc{ font-size:14px; font-weight:bolder; color:#000; position:absolute; left:91px; top:445px; width:410px; line-height:18px;}
.uploadSucceedTxt{ background:none; border:none; width:324px; height:28px; padding:0 10px; font-size:14px; color:#000; line-height:28px; position:absolute; left:597px;}
.uploadSucceedTxt1{ top:362px;}
.uploadSucceedTxt2{ top:443px;}
.uploadSucceedBtn{ left:692px; top:491px;}

.page5Bg{ background:url(../images/page5Bg.png) 0 0 no-repeat; width:1060px; height:704px;}
.shareBtn1{ left:382px; top:416px;}
.shareBtn2{ left:456px; top:416px;}
.shareBtn3{ left:532px; top:416px;}
.shareBtn4{ left:610px; top:416px;}

.page6Bg{ background:url(../images/page6Bg.png) 0 0 no-repeat; width:1060px; height:704px;}
.myImg{ position:absolute; left:79px; top:222px; width:480px; height:317px; overflow:hidden;}
.myImg img{ width:100%; height:100%; display:block;}
.page6Img1{ left:0; top:0;}
.myName{ font-size:14px; font-weight:bolder; color:#000; position:absolute; left:586px; top:247px; line-height:100%;}
.myImageTitle{ font-size:14px; font-weight:bolder; color:#000; position:absolute; left:586px; top:299px; line-height:100%;}
.myImageDesc{ font-size:14px; font-weight:bolder; color:#000; position:absolute; left:586px; top:362px; width:410px; line-height:18px;}
.myQc{ width:101px; height:101px; left:589px; top:427px;}
.myVoteBtn{ background:url(../images/page6Img2.png) 0 0 no-repeat; width:91px; height:76px; text-align:center; color:#FFF; font-size:16px; line-height:66px; display:block; position:absolute; left:124px; top:200px; overflow:hidden;}

.page7Bg{ background:url(../images/page7Bg.png) 0 0 no-repeat; width:1060px; height:704px;}
.listSel{ background:none; border:none; width:178px; height:36px; line-height:36px; padding:0; font-size:14px; color:#000; appearance:none; -moz-appearance:none; -webkit-appearance:none; -ms-appearance:none; position:absolute; left:803px; top:81px; padding-left:10px;}
.listSearchTxt{ background:none; border:none; width:128px; height:36px; line-height:36px; padding:0 10px; font-size:14px; color:#000; position:absolute; left:803px; top:122px;}
.listSearchBtn{ left:950px; top:122px;}
.imagesList{ position:absolute; left:82px; top:179px; width:930px; height:400px; overflow:hidden;}
.ilInit{ width:185px; height:194px; float:left; overflow:hidden;}
.iOuter{ position:absolute; left:10px; top:1px; width:164px; height:108px; overflow:hidden; text-align:center;}
.iImg{ width:auto/*164px*/; height:108px;/* min-height:108px;*/ display:block; margin:0 auto;}
.iCover{ left:0; top:0;}
.ilName{ color:#000; font-size:12px; font-weight:bolder; left:8px; top:129px; line-height:100%;}
.ilTitle{ color:#000; font-size:12px; font-weight:bolder; left:8px; top:158px; line-height:100%;}
.listNav{ width:100%; position:absolute; left:0; top:570px; text-align:center;}
.listNav a{ margin:0 5px; color:#000; font-size:14px;}
.listNav a.sBtn{ margin-left:0 15px;}

.imgDetail{ width:411px; height:569px; position:absolute; left:50%; top:87px; margin-left:-205px; overflow:hidden; background:#FFF;}
.idImg{ width:auto/*380px*/; height:252px; /*min-height:252px; left:18px; top:60px;*/ position:static; display:block; margin:0 auto; padding-top:60px;}
.idCover{ left:0; top:0;}
.idName{ font-size:14px; font-weight:bolder; color:#000; position:absolute; left:21px; top:346px; line-height:100%;}
.idTitle{ font-size:14px; font-weight:bolder; color:#000; position:absolute; left:21px; top:390px; line-height:100%;}
.idDesc{ font-size:14px; font-weight:bolder; color:#000; position:absolute; left:21px; top:460px; width:235px; line-height:18px;}
.idQc{ left:278px; top:411px; width:101px; height:101px;}
.idCloseBtn{ left:359px; top:9px;}
.idVoteBtn{ background:url(../images/page6Img2.png) 0 0 no-repeat; width:91px; height:76px; text-align:center; color:#FFF; font-size:16px; line-height:66px; display:block; position:absolute; left:42px; top:24px; overflow:hidden;}
.noVote{ background:url(../images/page7Img3.png) 0 0 no-repeat; width:484px; height:504px; position:absolute; left:50%; top:87px; margin-left:-242px;}
.noVoteBtn{ left:167px; top:377px;}

.page8Bg{ background:url(../images/page8Bg.png) 0 0 no-repeat; width:1060px; height:704px;}
.page8Btn{ left:460px; top:433px;}

.pageReviewBg{ width:1060px; height:704px;}
.reviewBlock{ position:absolute; left:17px; top:57px; width:1030px; height:525px; overflow:hidden;}

#scrollbar3{ width:1030px;}
#scrollbar3 .viewport{ height:525px; overflow:hidden; position:relative; width:980px;}
#scrollbar3 .overview{ left:0; list-style:none outside none; margin:0; padding:0; position:absolute; top:0;}
#scrollbar3 .scrollbar{ background:none; float:right; position:relative; width:25px;}
#scrollbar3 .track{ background:#231916; height:100%; position:relative; width:3px;}
#scrollbar3 .thumb{ background:url(../images/scroll3.png) top center no-repeat; cursor: pointer; left:-11px; position:absolute; top:0; width:25px;}
#scrollbar3 .end{ background:url(../images/scroll2.png) top center no-repeat; width:25px; height:27px; position:absolute; left:0; bottom:-17px;}